form
{
    width: 480px;
    margin: 20px auto;
}

#label_F
{
    width: 300px;
    display: inline-block;
    cursor: pointer;
}

label 
{
    width: 225px;
    display: inline-block;
    cursor: pointer;
}

fieldset
{
    border: 3px double #ccc;
    border-radius: 3px;
    margin: 20px 0;
    padding: 20px;
    background: #ffeecc;
}

nav
{
    width: 580;
    margin: 20px auto;
}

#nechet_tr
{
    background-color: rgb(245, 84, 84);
}

#chet_tr
{
    background-color: rgb(81, 251, 75);
}
